{% extends 'base.html.twig' %}

{% block title %}{{ 'index_title'|trans() }}{% endblock %}

{% block page_title %}{{ 'index_page_title'|trans() }}{% endblock %}
{% block page_subtitle %}{{ 'index_page_subtitle'|trans() }}{% endblock %}
{% block page_content %}

    <div class="row" style="display:flex; height: 100%">

        <!-- /.col -->
        <div class="col-md-12 email-list"  style="height: 100%">
            <div class="box box-primary" style="height: 100%">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ 'inbox'|trans() }}</h3>

                    <div class="box-tools pull-right">
                        <div class="has-feedback">
                            <form method="get" action="{{ path('home') }}">
                            <input type="text" class="form-control input-sm" placeholder="Search Mail" name="s">
                            </form>
                            <span class="glyphicon glyphicon-search form-control-feedback"></span>
                        </div>
                    </div>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
                    {% include 'partials/mailbox-controls.html.twig' %}
                    <div class="table-responsive mailbox-messages">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <td></td>
                                <td>{{ 'recipient'|trans() }}</td>
                                <td>{{ 'subject'|trans() }}</td>
                                <td></td>
                            </tr>
                            </thead>
                            <tbody>
                            {% for email in emails %}
                                {% include 'partials/email-row.html.twig' %}
                            {% endfor %}
                            </tbody>
                        </table>
                        <!-- /.table -->
                    </div>
                    <!-- /.mail-box-messages -->
                </div>
                <!-- /.box-body -->
                {#<div class="box-footer no-padding">#}
                    {#{% include 'partials/mailbox-controls.html.twig' %}#}
                {#</div>#}
            </div>
            <!-- /. box -->
        </div>
        <div class="email-display" style="display:none;flex-direction: column">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"></h3>
                    <div class="box-tools pull-right">
                        <a href="#" class="email-close"><i class="fa fa-close"></i></a>
                    </div>
                </div>
                <div class="box-body no-padding">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#html-content" data-toggle="tab" aria-expanded="false">HTML</a>
                            </li>
                            <li>
                                <a href="#text-content" data-toggle="tab" aria-expanded="true">{{ 'Text'|trans() }}</a>
                            </li>
                            <li>
                                <a href="#raw-content" data-toggle="tab" aria-expanded="true">{{ 'Raw'|trans() }}</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="html-content">
                                <iframe width="100%" height="100%" frameborder="0" style="min-height:500px;display:block;flex:1;border: 1px solid #eee;" id="email-display-iframe" src=""></iframe>
                            </div>
                            <!-- /.tab-pane -->
                            <div class="tab-pane" id="text-content">

                            </div>

                            <!-- /.tab-pane -->
                            <div class="tab-pane" id="raw-content">

                            </div>

                            <!-- /.tab-pane -->
                        </div>
                        <!-- /.tab-content -->
                    </div>

                </div>
                <div class="box-footer" style="display:none;">

                </div>
            </div>
        </div>
        <!-- /.col -->
    </div>

{% endblock %}
