{% extends 'base.html.twig' %}

{% block title %}{{ 'index_title'|trans() }}{% endblock %}

{% block page_title %}{{ 'index_page_title'|trans() }}{% endblock %}
{% block page_subtitle %}{{ 'index_page_subtitle'|trans() }}{% endblock %}
{% block page_content %}

    <div class="row" style="display:flex;">

        <!-- /.col -->
        <div class="col-md-12 email-list">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ 'inbox'|trans() }}</h3>

                    <div class="box-tools pull-right">
                        <div class="has-feedback">
                            <form method="get" action="{{ path('home') }}">
                            <input type="text" class="form-control input-sm" placeholder="Search Mail" name="s">
                            </form>
                            <span class="glyphicon glyphicon-search form-control-feedback"></span>
                        </div>
                    </div>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
                    <div class="mailbox-controls">
                        <!-- Check all button -->
                        <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i>
                        </button>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-sm trash"><i class="fa fa-trash-o"></i></button>
                            <button type="button" class="btn btn-default btn-sm"><i class="fa fa-reply"></i></button>
                            <button type="button" class="btn btn-default btn-sm"><i class="fa fa-share"></i></button>
                        </div>
                        <!-- /.btn-group -->
                        <button type="button" class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
                        <div class="pull-right">
                            1-50/200
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i></button>
                                <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i></button>
                            </div>
                            <!-- /.btn-group -->
                        </div>
                        <!-- /.pull-right -->
                    </div>
                    <div class="table-responsive mailbox-messages">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <td></td>
                                <td>{{ 'recipient'|trans() }}</td>
                                <td>{{ 'subject'|trans() }}</td>
                                <td></td>
                            </tr>
                            </thead>
                            <tbody>
                            {% for email in emails %}
                            <tr data-markread="{{ path('markRead', {'id': email.id}) }}" class="{{ email.readAt ? 'read' : '' }}" data-title=" <span class='subject-label'>{{ 'Subject:'|trans() }}</span> <span class='subject'>{{ email.subject }}</span> <span class='addresses'>{{ 'From:'|trans() }} {{ email.from }} {{ 'To:'|trans() }} {{ email.to }}</span>">
                                <td>
                                    <input data-link="{{ path('deleteEmail', {'id': email.id}) }}" type="checkbox" style="position: absolute; opacity: 0;">
                                    <script class="html-email" type="text/template">
                                        {{ email.html|raw }}
                                    </script>
                                    <script class="text-email" type="text/template">
                                        {{ email.text|raw }}
                                    </script>
                                    <script class="raw-email" type="text/template">
                                        {{ email.raw }}
                                    </script>
                                </td>
                                <td class="mailbox-name">
                                    {{ email.to }}
                                    <span class="mailbox-date" title="{{ email.createdAt|date('Y-m-d H:i:s')}}">{{ email.createdAt|time_diff }}</span>
                                </td>
                                <td class="mailbox-subject">
                                    <b>{{ email.subject }}</b><span class="mailbox-firstline">{{ email.firstLine }}</span>
                                </td>
                                <td class="mailbox-attachment">
                                    {% for attachment in email.attachments %}
                                    <a download="{{ attachment.filename }}" class="attachment-download" href="data:{{ attachment.mimetype is defined ? attachment.mimetype : attachment.type }};charset=utf-8;base64,{{ attachment.contents }}"><i class="fa fa-file{{ attachment.type ? '-'~attachment.type : '' }}-o"></i> <span>{{ attachment.filename }}</span></a>
                                    {% endfor %}
                                </td>

                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <!-- /.table -->
                    </div>
                    <!-- /.mail-box-messages -->
                </div>
                <!-- /.box-body -->
                <div class="box-footer no-padding">
                    <div class="mailbox-controls">
                        <!-- Check all button -->
                        <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i>
                        </button>
                        <div class="btn-group">
                            <button type="button" class="trash btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
                            <button type="button" class="btn btn-default btn-sm"><i class="fa fa-reply"></i></button>
                            <button type="button" class="btn btn-default btn-sm"><i class="fa fa-share"></i></button>
                        </div>
                        <!-- /.btn-group -->
                        <button type="button" class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
                        <div class="pull-right">
                            1-50/200
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i></button>
                                <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i></button>
                            </div>
                            <!-- /.btn-group -->
                        </div>
                        <!-- /.pull-right -->
                    </div>
                </div>
            </div>
            <!-- /. box -->
        </div>
        <div class="email-display" style="display:none;flex-direction: column">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"></h3>
                    <div class="box-tools pull-right">
                        <a href="#" class="email-close"><i class="fa fa-close"></i></a>
                    </div>
                </div>
                <div class="box-body no-padding">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#html-content" data-toggle="tab" aria-expanded="false">HTML</a>
                            </li>
                            <li>
                                <a href="#text-content" data-toggle="tab" aria-expanded="true">{{ 'Text'|trans() }}</a>
                            </li>
                            <li>
                                <a href="#raw-content" data-toggle="tab" aria-expanded="true">{{ 'Raw'|trans() }}</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="html-content">
                                <iframe width="100%" height="100%" frameborder="0" style="min-height:500px;display:block;flex:1;border: 1px solid #eee;" id="email-display-iframe" src=""></iframe>
                            </div>
                            <!-- /.tab-pane -->
                            <div class="tab-pane" id="text-content">

                            </div>

                            <!-- /.tab-pane -->
                            <div class="tab-pane" id="raw-content">

                            </div>

                            <!-- /.tab-pane -->
                        </div>
                        <!-- /.tab-content -->
                    </div>

                </div>
                <div class="box-footer" style="display:none;">

                </div>
            </div>
        </div>
        <!-- /.col -->
    </div>

{% endblock %}
